:root {
    --cabecalho: #00161C;
    --chamada: #00161C;
    --destaque: #DFE3F5;
    --diferenciais: #FFFFFF; 
    --sobre: #FFFFFF;
    --contato: #FFFFFF;
    --planos: #F7F4F4;
    --rodape: #333333;
    --branco: #FFFFFF;
    --link-nav: #FFFFFF;
    --cinza-escuro: #4F4C4C;
    --preta: #000000;
    --vermelho-forte: #B72E2E;
    --start: #56CCF2;
    --ultra: #B04CD9;
    --mega: #E33B3B;
    --cinza-claro: #666666;
    --link-contato: #0084FF;
    --borda-cabecalho-mobile: #103D4A;
}

main {
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

.botao {
    border-radius: 5px;
    border: 1px solid;
    width: 100%;
    background: none;
    padding: 1rem;
    max-width: 350px;
}